importFrom(stats, logLik)
importFrom(splines, bs)
importFrom(survival, Surv)
importFrom("stats", "as.formula", "binomial", "na.omit", "terms")
importFrom(gam, gam)
importFrom(mgcv, gam)
importFrom("stats", "AIC", "BIC")
importFrom("graphics", "abline", "arrows", "axis", "matplot", "polygon", "text")
importFrom("stats", "predict", "qnorm", "quantile", "update", "vcov")
